    .header {
        /* display: flex; */
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        /* line-height: 3.5rem; */
        justify-content: space-around;
        align-items: stretch;
        z-index: 100;
    }
    
    .logo {
        max-height: 3.5rem;
    }
    
    .sidebar-header {
        flex: 0 0 14rem;
        /* display: flex;
    justify-content: space-between;*/
    }
    
    .body-header {
        flex: 0 0 calc(100% - 14rem);
    }
    
    .search-area {
        border-radius: 20px;
    }
    
    .search-input {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .notification-bar {
        left: 0;
        top: 50px;
        box-shadow: 0px 1px 20px 0 rgba(70, 90, 100, 0.8);
        width: 15rem;
        display: none;
    }
    
    .notification-img {
        width: 3rem;
        border-radius: 0.1rem;
    }
    
    .notification-user {
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .notification-text {
        font-size: 0.7rem;
        line-height: 0.7rem;
    }
    
    .notification-time {
        font-size: 0.6rem;
        line-height: 0.6rem;
    }
    
    .comments-bar {
        left: 0;
        top: 50px;
        box-shadow: 0px 1px 20px 0 rgba(70, 90, 100, 0.8);
        width: 15rem;
        height: calc(100vh - 3.5rem);
        display: none;
    }
    
    .comments-list {
        height: calc(100% - 6rem);
        overflow: auto;
    }
    
    .comments-user {
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .comments-user-status {
        font-size: 0.4rem;
    }
    
    .header-avatar {
        width: 3rem;
        height: 3rem;
    }
    
    .header-username {
        font-size: 0.8rem;
    }
    
    .user-profile-bar {
        left: 0;
        top: 50px;
        box-shadow: 0px 1px 20px 0 rgba(70, 90, 100, 0.8);
        width: 13rem;
        height: auto;
        z-index: 100;
        display: none;
    }
    
    .user-profile-item {
        font-size: 0.8rem;
    }
    
    @media only screen and (max-width: 767.98px) {
        .header {
            display: block;
        }
        .sidebar-header {
            width: 100%;
        }
        .body-header {
            display: none;
            width: 100%;
        }
    }
    
    .body-container {
        margin-top: 3.5rem;
    }
    
    .sidebar {
        flex: 0 0 14rem;
    }
    
    .sidebar-container {
        height: calc(100vh - 10rem);
        /* position: fixed;
        top:3.5rem;
        right: 0;
        z-index: 1000; */
    }
    
    .sidebar-wrapper {
        margin-top: 2rem;
        margin-right: 1rem;
        overflow: auto;
    }
    
    .sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .sidebar-part-title {
        font-size: 0.9rem;
        padding: 0 1rem;
        margin-top: 1rem;
    }
    
    .sidebar-link {
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
        margin-top: 1rem;
        display: block;
        text-decoration: none;
        transition: color 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }
    
    .sidebar-link:hover {
        color: tomato;
        text-decoration: none;
        transform: translateX(2rem);
    }
    
    .sidebar-link>i {
        width: 2rem;
        text-align: center;
    }
    
    .sidebar-group-link {
        font-size: 0.8rem;
        padding: 0.4rem 0rem;
        margin-top: 1rem;
    }
    
    .sidebar-group-link-active {
        border-right: tomato 3px solid;
    }
    
    .sidebar-group-link>.sidebar-dropdown {
        display: none;
        height: 0;
        font-size: 0.6rem;
        padding: 0.4rem 0rem;
        margin-top: 1rem;
    }
    
    .sidebar-group-link-active>.sidebar-dropdown {
        height: auto !important;
        display: block !important;
    }
    
    .sidebar-dropdown-toggle {
        padding: 0.2rem 0.1rem;
        transition: color 0.5s ease-in-out;
    }
    
    .sidebar-dropdown-toggle span:hover {
        color: whitesmoke;
    }
    
    .sidebar-dropdown-toggle .icon {
        width: 2rem;
        text-align: center;
    }
    
    .sidebar-dropdown-toggle .angel {
        /* width: 2rem;
        text-align: center; */
        padding: 0.4rem 0rem;
        float: left;
    }
    
    .sidebar-dropdown a {
        padding: 0.2rem 1rem;
        display: block;
        text-decoration: none;
        /* color: #dcdcdc; */
        color: inherit;
        transition: color 0.5s ease-in-out;
    }
    
    .sidebar-dropdown a::before {
        content: ">>";
        margin: 0.8rem;
    }
    
    .sidebar-dropdown a:hover {
        color: tomato;
        text-decoration: none;
    }
    
    .main-body {
        width: calc(100% - 14rem);
        min-height: calc(100vh - 3.5rem);
    }
    
    .info-box-body h6 {
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: bold;
    }
    
    .info-box-body p {
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: bold;
    }
    
    .info-box-icon i {
        font-size: 1.5rem;
    }
    
    .info-box-footer {
        font-size: 0.7rem;
    }
    
    .main-body-container {
        margin: 1rem 0;
        padding: 1rem;
    }
    
    main-body-container-header h5 {
        font-size: 1rem;
        font-weight: bolder;
    }
    
    main-body-container-header p {
        font-size: 0.8rem;
    }
    
    .main-body-container-text p {
        font-size: 0.8rem;
        text-align: justify;
    }
    
    @media only screen and (max-width: 756px) {
        .sidebar {
            display: none;
            width: 320px;
            z-index: 100;
            height: calc(100% - 3.5rem);
            position: fixed;
            top: 3.5rem;
            right: 0;
        }
        .sidebar-container {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }
        .main-body {
            width: 100%;
        }
    }